/*Styling for navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc3300;
}

.navigation {
  float: left;
}

.navigation a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.navigation a:link {
  color: #ffffff;
}

.navigation a:visited {
  text-decoration: none;
  color: #ffffff;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover:not(.active) {
  background-color: #003399;
}

.active {
  background-color: #006600;
}

.navigation {
  border-right: 2px solid #ffffff;
}

/* Last child no right border */
.navigation:last-child {
  border-right: none;
}

/* Add a full-screen background image behind the leaf image */
html {
  background: url("../images/autumn-background.jpg") no-repeat center fixed;
  background-size: cover;
}

/*Styling for Body color background and background image*/
body {
  background: url("../images/autumn-leaf.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 800px 600px;
}

/* Styling for the Section to ensure it stays to the right when Aside is the left */
section {
  width:51%;
	margin-right:1%;
	padding-left: 1%;
	float:left;
}
/*Styling for H1 tags*/
h1 {
  color: #cc3300;
  border-style: inset;
  border-width: 4px;
  border-color: #e6ffe6;
  text-align: center;
  /* width: 50%; */
}

/*Styling for H3 tags that includes using googlefont and backup font as well as styles the fontawesome icon color*/
h3 {
  font-family: Pacifico, Molle, cursive;
  color: #cc3300;
  border-left: 3px solid #003399;
  background-color: #ffff66;
  text-align: left;
  /* width: 50%; */
}
/* Style the icon color to match selected navigation item color */
.fa-canadian-maple-leaf {
  color: #006600;
}

/*Styling for H4 tags including the color for the icon*/
h4 {
  color: #cc3300;
  border-style: double;
  border-width: 8px;
  border-radius: 12px;
  border-color: #003399;
  text-align: center;
  /* width: 50%; */
}
.fa-code {
  color: #006600;
}

/* Styling for links on pages */
a {
  text-decoration: none;
}
a:link {
  color: #cc3300;
}
a:visited {
  color: #006600;
}
/* Transition on link font weight */
a:hover {
  font-weight: bold;
  transition-property: font-weight;
  transition-duration: 2s;
}

/* Styling for images on page including transitions */
img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 2s ease-in-out;
          transition:         transform 2s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*Styling for ALL paragraphs that includes using googlefont and backup font, and the color for the icons*/
p {
  font-family: Karla, Cabin, sans-serif;
  color: #003399;
  font-size: 1.25em;
  font-weight: bold;
  /* width: 50%; */
}
.fa-book {
  color: #003399;
}
.fa-utensils {
  color: #003399;
}
.fa-film {
  color: #003399;
}

.fa-wpexplorer {
  color: #003399;
}

.fa-lightbulb {
  color: #003399;
}

.fa-bed {
  color: #003399;
}

/* Aside created as a flex container, this is styling and position */
.flex-container {
  display: flex;
  width: 20%;
  float: left;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15em;
  margin-top: 8em;
  border: 1em solid #006600;
}

/* nth child alternate color on odd */
.flex-container li:nth-child(odd) {
  color: #006600;
}

.favorite-h3{
  width: 98%;
}

.favorite-p{
  font-size: 1em;
  justify-content: flex-start;
  width: 100%;
}

.favorite-ol{
  justify-content: flex-start;
  width: 85%;
}
/*Styling for the ordered lists*/
ol {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 35px;
  background-color: #ffffff;
  color: #cc3300;
  border-style: inset;
  border-width: 4px;
  border-color: #e6ffe6;
  /* width: 50%; */
}

ol {
  font-size: 1.5em;
}

footer {
	clear:both;
}

/*Styling for the footer text*/
.footer-text {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-text {
  color: #000000;
}
