*{
	box-sizing: border-box;
}

/* ***Colors used in styling site:***
Light Green (#99cc00)
Dark Blue (#003399)
Dark Orange (#cc3300)
Dark Green (#006600)
Light Blue (#b3ccff)
Light Orange (#ffd9cc)
Yellow (#ffff66)
White (#ffffff)
Inset border color (#e6ffe6) */

/* Styling for header - Green (#99cc00) background, Blue (#003399) font, single leaf image */
#heading {
	height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color: #99cc00;
	color: #003399;
  margin: 0;
	padding: 5% 13%;
  background-image: url("../images/autumn-leaf.png");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right top;
}

.head-title {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #003399;
	border-style: none;
  margin: 0;
  font-size: 2em;
}

/*Styling for navigation. Colors: Blue (#003399), Green=(#99cc00), Orange=(#cc3300) */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc3300;
}

.navigation {
  float: left;
}

.navigation a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.navigation a:link {
  color: #ffffff;
}

.navigation a:visited {
  text-decoration: none;
  color: #ffffff;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover:not(.active) {
  background-color: #003399;
}

.active {
  background-color: #006600;
}

.navigation {
  border-right: 2px solid #ffffff;
}

/* Last child no right border */
.navigation:last-child {
  border-right: none;
}

/* Add a full-screen background image behind the leaf image */
html {
  background: url("../images/autumn-background.jpg") no-repeat center fixed;
  background-size: cover;
}

/* Styling for the Section to ensure it stays to the right when Aside is the left */
section {
  width:51%;
	margin-right:1%;
	padding-left: 1%;
	float:left;
}

/*Styling for H1 tags*/
h1 {
  color: #cc3300;
  border-style: inset;
  border-width: 4px;
  border-color: #e6ffe6;
  text-align: center;
}

/*Styling for H3 tags that includes using googlefont and backup font as well as styles the fontawesome icon color*/
h3 {
  font-family: Pacifico, Molle, cursive;
  color: #cc3300;
  border-left: 3px solid #003399;
  background-color: #ffff66;
  text-align: left;
}

/* Style the icon color to match selected navigation item color */
.fa-canadian-maple-leaf {
  color: #006600;
}

/*Styling for H4 tags including the color for the icon*/
h4 {
  color: #cc3300;
  border-style: double;
  border-width: 8px;
  border-radius: 12px;
  border-color: #003399;
  text-align: center;
}

.fa-code {
  color: #006600;
}

/* Styling for links on pages */
a {
  text-decoration: none;
}
a:link {
  color: #cc3300;
}
a:visited {
  color: #006600;
}
/* Transition on link font weight */
a:hover {
  font-weight: bold;
  transition-property: font-weight;
  transition-duration: 2s;
}

/* Styling for images on index page including transitions */
.projects {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 2s ease-in-out;
          transition:         transform 2s ease-in-out;
}

.projects:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*Styling for ALL paragraphs that includes using googlefont and backup font, and the color for the icons*/
p {
  font-family: Karla, Cabin, sans-serif;
  color: #003399;
  font-size: 1.25em;
  font-weight: bold;
}

.fa-book {
  color: #003399;
}
.fa-utensils {
  color: #003399;
}
.fa-film {
  color: #003399;
}

.fa-wpexplorer {
  color: #003399;
}

.fa-lightbulb {
  color: #003399;
}

.fa-bed {
  color: #003399;
}

.fa-portrait {
  color: #003399;
}

.fa-cat {
  color: #003399;
}

.fa-location-arrow {
  color: #003399;
}

/* Aside created as a flex container, this is styling and position */
.flex-container {
  display: flex;
  width: 30%;
  float: left;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15em;
  margin-top: 8em;
  border: 1em solid #006600;
}

/* nth child alternate color on odd */
.flex-container li:nth-child(odd) {
  color: #006600;
}

.favorite-h3{
  width: 98%;
}

.favorite-p{
  font-size: 1em;
  justify-content: flex-start;
  width: 100%;
}

.favorite-ol{
  justify-content: flex-start;
  width: 85%;
}
/*Styling for the ordered lists*/
ol {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 35px;
  background-color: #ffffff;
  color: #cc3300;
  border-style: inset;
  border-width: 4px;
  border-color: #e6ffe6;
  /* width: 50%; */
}

ol {
  font-size: 1.5em;
}

/* Overall styling the form on the Contact page */
form {
  color: #003399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
	background-color: #b3ccff;
}

/* Add background on FOCUS when tabbing through form fields */
input[type=text]:focus {
  background-color: #ffd9cc;
}

.comments textarea:focus {
  background-color: #ffd9cc;
}

input[type=email]:focus {
  background-color: #ffd9cc;
}

input[type=date]:focus {
  background-color: #ffd9cc;
}

select:focus {
  background-color: #ffd9cc;
}

input {
  border-radius: 5px;
}

fieldset {
  border: none;
	box-sizing: border-box;
  display: block;
  margin: 1rem;
}

fieldset input {
  display: inline;
}

fieldset.contact {
  border-style: solid;
}

/* Adding border to reason for contact fieldset */
.reason {
  border-style: solid;
  margin-top: 1em;
  margin-bottom: 1em;
}

.reason:focus {
  background-color: #ffd9cc;
}

/* Customizing the radio buttons */
/* Hide the browser's default radio styling */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Radio button styling */
.radio label {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-top: .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create the radio buttons */
.rad {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #b3ccff;
  border-radius: 50%;
}

/* Add border to radio buttons on FOCUS when tabbing through form fields */
.radio input:focus ~ .rad{
  border: solid;
}

/* On mouse-over, add an orange background */
.radio label:hover input ~ .rad{
  background-color: #cc3300;
}

/* When selected, add a green background */
.radio input:checked ~ .rad{
  background-color: #006600;
}

/* Create the indicator */
.rad:after {
  content: "";
  position: absolute;
}

/* Selected - show indicator */
.radio input:checked ~ .rad:after {
  display: block;
}

/* Style the indicator to a circle inside the radio button, make it white to show up better*/
.radio .rad:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Adding border to radio buttons fieldset */
fieldset.radio {
  border-style: solid;
}

/* Customizing the checkboxes/marks */
/* Hide the browser's default checkbox styling */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Customize the checkbox labels */
.checkbox label {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-top: .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Adding border to checkboxes fieldset */
fieldset.checkbox {
  border-style: solid;
  margin-top: 1em;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #b3ccff;
}

/* Add border to checkboxes on FOCUS when tabbing through form fields */
.checkbox input:focus ~ .checkmark{
  border: solid;
}

/* On mouse-over, add an orange background */
.checkbox label:hover input ~ .checkmark{
  background-color: #cc3300;
}

/* When checked, add a green background */
.checkbox input:checked ~ .checkmark{
  background-color: #006600;
}

/* Create the indicator */
.checkmark:after {
  content: "";
  position: absolute;
}

/* Show the checkmark when checked */
.checkmark:after {
  display: block;
}

/* Style the checkmark */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Adding border to comments fieldset */
.comments {
  border-style: solid;
  margin-top: 1em;
}

/* Styling the Submit button */
input[type=submit] {
  background-color: #003399;
  color: #ffffff;
  border: none;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: .5em .5em;
  cursor: pointer;
}

input[type=submit]:focus {
  background-color: #006600;
}

input[type=submit]:hover {
  background-color: #cc3300;
}


/* Styling for footer */
footer {
	clear:both;
}

footer {
	height: 15em;
  background-color: #99cc00;
  display: flex;
  justify-content: center;
	margin: 0;
	padding: 5% 5%;
}

#right-footer {
  margin-left: 2em;
}

/* Styling for the footer text*/
.footer-text {
  color: #003399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
